$light-theme-colors: (
 color: #4F4F4F,

  background-color: #ffffff,

);

$dark-theme-colors: (
color: #e1e0e0,
  
  background-color: #121212,
 
);

$base-font-family: 'Arial', sans-serif;
$heading-font-family: 'Roboto', sans-serif;

$border-radius: 4px;



// Override theme based on body class

body {
  // Default styles
  @each $property, $value in $light-theme-colors {
    #{$property}: $value;
  }
}

body.dark-theme {
  // Apply dark theme styles
  @each $property, $value in $dark-theme-colors {
    #{$property}: $value;
  }
}