.overlay{
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 99999;
    background-color: rgba(0, 0, 0, 0.333);
}
.modal-title{
    border-bottom: 1px solid rgb(161, 159, 159);
    width: 100%;
    padding-bottom: 10px;
}
#paymentModal{
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    top: 70px;
    width: 550px;
    padding: 20px;
    z-index: 1000000
}
li{
    list-style: none;
}
.payment-types{
    display: flex;
gap: 15px;
margin-bottom: 20px;
}
.payment-types .top-card{
    width: 100px;

    img{
        width: 100%;
        border-radius: 10px;
    }
}
.visa{
    transform: scale(1.3);
}
#paypal{
    display: none;
}


.visa,.paypal{
    transition: 1s;
}
.visa:hover,.paypal:hover {
    transform:  scale(1.2);
    cursor: pointer;
}




#visa input[type="number"] {
    width: 100%;
    text-align: left;
}



form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
}

form input {
    width: 100%;
}

.expire-cvv {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.expire-date {
    display: flex;
    gap: 5px;
    input {
        width: 70px;
        height: 60px;
    }
}

.expire {
    text-align: left;
    margin-bottom: 0;
}


.error{
    color: rgb(231, 70, 70);
    text-align: left ;
    display: block;
}
input::placeholder {
    color: #a0a0a0;
}  
.swal2-actions{
  gap: 5px;
}
@keyframes move {
    0%{transform: translateY(-10px);}
 
50%{transform: translateY(10px);}

    100%{transform: translateY(-10px);}
    
}

@media (max-width:567px) {
    #paymentModal{
    width: 90%;
  }
}