@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #f6f5f7;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
 
}

.right-box {
    background-image: linear-gradient(rgba(207, 204, 204, 0.5), rgba(137, 73, 115, 0.5)), url("../images/fs.jpg");
    background-size: cover;
    background-repeat: no-repeat;
   

}

.overlay-left h1 {
    color: #eee;
}
h1 {
    font-weight: bold;
    color: #eee;
}


p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: .5px;
    margin: 20px 0 30px;
    font-family: 'Butterfly Kids', cursive;
    text-shadow: 2px 2px 4px #2d2c2c;
    color: #eee;
}

