:root{
  --main-bg-color:#f5f7fb;
  --main-pink-light-color:#F05990;
  --black-color:#000000;
  --white-color:#ffffff;
  --text-color:#33334f;
  --light-green:#1cbb8c;
  --lighter-green:rgba(28,187,140,.15);
  --lighter-red:rgba(189,33,48,.15);
  --blue-color:#3b7ddd;
}
*{
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
.bg-green{
  background-color: var(--lighter-green);
  color: var(--light-green);
}
.bg-red:hover{
  background-color: var(--lighter-red);
  color: color-yiq(rgba(220,53,69,.15));
}
.bg-green:hover {
  background-color: var(--light-green);
  color: color-yiq(rgba(28,187,140,.15));
}
body {
  font-family: "Arial", sans-serif;
  background-color: var(--main-bg-color);
  color: var(--text-color);
}
.page-not-found{
  margin: 150px auto;
  text-align: center;
}
.page-not-found h1{
  font-size: 70px;
  font-weight: 900;
}
.page-not-found h3{
  font-size: 60px;
  font-weight: 900;
}
.page-not-found p{
  font-size: 20px;
  font-weight: 600;
}
.header__content {
  background-color: var(--white-color);
}
.side{
  background-color: var(--main-bg-color);
}
.admin{
  height: 100vh;
}
.header{
  box-shadow: 0 0 2rem 0 rgba(33,37,41,.1);
  height: fit-content;
}
.header__logo {
  font-family: 'Lobster Two', sans-serif;
}
.header__logo a {
  font-weight: 500;
  color: var(--text-color);
}
.header__logo img {
  width: auto;
  height: 29px;
  margin-bottom: 5px;
  margin-left: 2px;
  margin-right: 2px;
}
.header__logo #floral{
  font-size: 35px;
}
.header__logo #boutique{
  font-weight: 500;
  font-size: 25px;
  margin-top: -20px;
}
.header__content{
  align-items: center;
}
.header__content h5 {
  color: var(--main-pink-light-color);
  
}
/* ---- side ------ */
.main-list{
  height: fit-content;
}
.side .main-list a:hover{
  cursor: pointer;
}
.main-list li{
  border: none;
  color: var(--text-color);
  font-weight: 600;
  height: 100%;
}
.main-list i{
  color: var(--main-pink-light-color);
  border: 0 !important;
}
.main-list a.active i,
.main-list a:hover i{
  color: var(--text-color);
}
.main-list a.active li,
.main-list a:hover li{
  background-color: var(--main-pink-light-color);
}
.content .card .stat{
  color: var(--blue-color);
  background: #d3e2f7;
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
}
.bg-red{
  background-color: rgba(220,53,69,.15);
  color :#dc3545;
}
.content h3 {
  color: var(--text-color);
}
.data .content .search-container{
  padding: 0.25rem;
  color: var(--text-color);
  font-weight: bold;
}
.data .content .search-container #search{
  border: 2px solid gray;
  border-radius: 0.25rem;
}
.data .content .search-container #search:focus{
  outline: lightblue 1px solid;
}
#itemTable th:hover{
  cursor: pointer;
}
#itemTable th {
  padding: 15px 4px;
  position: relative;
  width: 150px;
}
.table-responsive #tableList .elipses{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
#showDetailsModal .details-item{
  border-radius: 0.5rem;
  border: 2px solid black;
  background-color: #3b7ddd;
  color: white;
  font-size: 1.1rem;
}
#showDetailsModal .details-item {
  display: flex;
  flex-direction: column;
}
#showDetailsModal .details-item > div:first-child{
  text-align: center;
}
#showDetailsModal .details-item > div:nth-child(2){
  font-size: 1.2rem;
  background-color: white;
  color: #33334f;
  height: 100%;
  width: 100%;
}

/*============================== screens =========================*/
/* medium */
@media (min-width: 769px) {
  #itemTable th:not(:last-child)::before{
    position: absolute;
    font-size: .6em;
    line-height: 9px;
    display: block;
    content: "▲"/"";
    bottom: 28px;
    right: 0;
    opacity: 0.4;
  }
  #itemTable th:not(:last-child)::after{
    display: block;
    font-size: .6em;
    line-height: 9px;
    position: absolute;
    content: "▼"/"";
    opacity: 0.4;
    right: 0;
    top: 28px;
  }
  #itemTable th.asc:not(:last-child)::after{
    opacity: 0.9;
  }
  #itemTable th.desc:not(:last-child)::before{
    opacity: 0.9;
  }
.data .content.scrollable{
  overflow-y: auto;
}

}
/* large */
@media (min-width: 992px) {
  ul.main-list a:nth-child(1) li{
    border-radius: 0rem;
  }
  ul.main-list a:last-child li{
    border-radius: 0rem;
  } 
  .header{
    height: 70px;
  }
  .side{
    background-color: var(--blue-color);
    padding-right: 0rem !important;
    padding-left: 0rem !important;
  }
  .main-list{
    padding-left: 10px !important;
  }
  .main-list li{
    background-color: var(--blue-color);
    border: none;
    color: var(--white-color);
    font-weight: 600;
    height: 100%;
  }
  .main-list i{
    color: var(--white-color);
    border: 0 !important;
  }
  .main-list a:hover i,
  .main-list a.active i{
    color: var(--main-pink-light-color);
  }
  .main-list a.active li,
  .main-list a:hover li{
    background-color: var(--main-bg-color);
    color: var(--main-pink-light-color);
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
  }
  .data{
    height: calc(100vh - 70px);
  }
  .side{
    height: calc(100vh - 70px);
  }
  .content{
    height: calc(100vh - 70px);
  }
}
/* extra large */
@media (max-width: 1400px) {

}

