@media (max-width: 768px) {

  /* line 2, ../sass/_layout.scss */
  .actionsBtn {
    flex-direction: column;
    gap: 5px;
  }

  /* line 6, ../sass/_layout.scss */
  table th,
  td {
    font-size: 14px;
  }
}

/* line 4, ../sass/main.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 10, ../sass/main.scss */
body {
  font-family: "Arial", sans-serif;
  background-color: #ffffff;
}

#procuct-card {
  margin-right: 20px;
  margin-bottom: 20px;
}

#procuct-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.card-options {
  height: 20%;
}

.card-details {
  height: 80%;
}

#procuct-card img {
  height: 30%;
}