#procuct-card {
    margin-right: 20px;
    margin-bottom: 20px;
}

#procuct-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.card-options {
    height: 20%;
}

#procuct-card img {
    height: 250px;
}

#product-image {
    box-shadow: 10px 10px 30px;
}

#product-image:hover {
    transition: all 1s;
    transform: scale(1.01);
}