/* line 1, ../sass/seller.scss */
body {
  color: #4F4F4F;
  background-color: #ffffff;
}

/* line 31, ../sass/_variables.scss */
/* line 7, ../sass/seller.scss */
body.dark-theme {
  color: #e1e0e0;
  background-color: #121212;
}

/* line 11, ../sass/seller.scss */
body.dark-theme .sellerInfo {
  background-color: #2c2b2d;
}

/* line 15, ../sass/seller.scss */
body.dark-theme tr, th, td, input {
  background-color: #b8aad4;
}

/* line 21, ../sass/seller.scss */
.btn.btn-danger {
  background-color: #F05990;
}

/* line 25, ../sass/seller.scss */
.addBtn {
  margin-top: 30px;
}

/* line 28, ../sass/seller.scss */
.info {
  position: absolute;
  left: 40px;
  background-color: #1b1a1ab7;
  color: #f6f2f2;
  border-radius: 4px;
  border: 1px solid #F05990;
  padding: 3px;
  transition: .4s;
  font-size: 14px;
  display: none;
}

/* line 40, ../sass/seller.scss */
.info:hover {
  background-color: #bf4289;
}

/* line 43, ../sass/seller.scss */
.info.charts {
  top: 120px;
}

/* line 46, ../sass/seller.scss */
.info.products {
  top: 180px;
}

/* line 49, ../sass/seller.scss */
.info.orders {
  top: 250px;
}

/* line 52, ../sass/seller.scss */
.info.mood {
  top: 310px;
}

/* line 55, ../sass/seller.scss */
.info.logout {
  top: 380px;
}

/* line 58, ../sass/seller.scss */
.sellerInfo i:hover + span {
  display: block;
}

/* line 62, ../sass/seller.scss */
.error-msg {
  color: brown;
  margin-left: 10px;
}

/* line 66, ../sass/seller.scss */
.is-invalid {
  border-color: brown;
}

/* line 69, ../sass/seller.scss */
.is-valid {
  border-color: green;
}

/* line 73, ../sass/seller.scss */
.productS-img img {
  transition: 1s;
}

/* line 77, ../sass/seller.scss */
.productS-img img:hover {
  animation-play-state: paused;
  transform: scale(1.3);
}

/* line 86, ../sass/seller.scss */
.sellerInfo {
  background-color: lavender;
  width: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100vh;
}

/* line 98, ../sass/seller.scss */
i {
  transition: 1s;
}

/* line 101, ../sass/seller.scss */
i:hover {
  cursor: pointer;
  transform: rotate(360deg);
}

/* line 105, ../sass/seller.scss */
#sellerInfoContainer {
  display: none;
}

/* line 108, ../sass/seller.scss */
#sellerInfoContainer.showInfo {
  display: block;
  width: 193px;
  background-color: whitesmoke;
  height: 100vh;
  position: absolute;
  left: 52px;
  top: 0px;
  height: 100%;
  z-index: 3;
}

/* line 120, ../sass/seller.scss */
#sellerInfoContainer .sellerImg {
  width: 115px;
  margin: 40px 0;
  border: 6px solid #9880e4;
}

/* line 125, ../sass/seller.scss */
#sellerInfoContainer i {
  color: #657079;
}

/* line 128, ../sass/seller.scss */
input[type=file] {
  position: absolute;
  z-index: -1;
  top: 10px;
  left: 8px;
  font-size: 17px;
  color: #b8b8b8;
}

/* line 136, ../sass/seller.scss */
.button-wrap {
  position: relative;
}

/* line 139, ../sass/seller.scss */
.uploadButton {
  display: inline-block;
  padding: 12px 18px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #bf4289;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

/* line 149, ../sass/seller.scss */
.controls {
  width: 80%;
  margin-left: 5rem;
}

/* line 153, ../sass/seller.scss */
.vh-100 {
  height: 100vh;
}

/* line 157, ../sass/seller.scss */
.swal2-actions {
  gap: 10px;
}

/* line 160, ../sass/seller.scss */
.table > tbody {
  vertical-align: baseline !important;
}

/* line 163, ../sass/seller.scss */
.chart-parent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px auto;
  gap: 1%;
}

/* line 171, ../sass/seller.scss */
.myChart {
  width: 48% !important;
  height: 75vh !important;
}

/* line 175, ../sass/seller.scss */
#productTable, #OrdersTable {
  display: none;
}

/* line 179, ../sass/seller.scss */
.typeOf {
  color: #bf4289;
}

/* line 184, ../sass/seller.scss */
.state span {
  display: inline-flex;
  background-color: transparent;
  border: 2px solid #c78dd1db;
  padding: 10px;
  border-radius: 5px 10px;
  transition: .5s;
}

/* line 193, ../sass/seller.scss */
.state span:hover {
  background-color: #c78dd1db;
  color: whitesmoke;
}

/* line 198, ../sass/seller.scss */
.state span.approved {
  background-color: #088a31bf;
  border: 2px solid #95e98cdb;
  color: whitesmoke;
}

@media (max-width: 576px) {
  /* line 205, ../sass/seller.scss */
  h1 {
    font-size: 22px;
    text-align: center;
  }

  /* line 209, ../sass/seller.scss */
  .chart-parent {
    gap: 40px;
  }

  /* line 212, ../sass/seller.scss */
  .myChart {
    width: 90% !important;
    height: 35vh !important;
  }

  /* line 216, ../sass/seller.scss */
  .canvas {
    width: 90%;
  }
}