/* line 1, ../sass/seller.scss */
body {
  color: #4F4F4F;
  background-color: #ffffff;
}

/* line 31, ../sass/_variables.scss */
/* line 7, ../sass/seller.scss */
body.dark-theme {
  color: #e1e0e0;
  background-color: #121212;
}

/* line 11, ../sass/seller.scss */
body.dark-theme .sellerInfo {
  background-color: #9789af;
}

/* line 15, ../sass/seller.scss */
.btn.btn-danger {
  background-color: #F05990;
}

/* line 19, ../sass/seller.scss */
.error-msg {
  color: brown;
  margin-left: 10px;
}

/* line 23, ../sass/seller.scss */
.is-invalid {
  border-color: brown;
}

/* line 26, ../sass/seller.scss */
.is-valid {
  border-color: green;
}

/* line 30, ../sass/seller.scss */
.productS-img {
  animation: 6s  infinite ease-in-out;
  transition: 1s;
}

/* line 34, ../sass/seller.scss */
.productS-img:hover {
  animation-play-state: paused;
  transform: scale(1.3);
}

/* line 43, ../sass/seller.scss */
.sellerInfo {
  background-color: lavender;
  width: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100vh;
}

/* line 55, ../sass/seller.scss */
i {
  transition: 1s;
}

/* line 58, ../sass/seller.scss */
i:hover {
  cursor: pointer;
  transform: rotate(360deg);
}

/* line 62, ../sass/seller.scss */
#sellerInfoContainer {
  display: none;
}

/* line 65, ../sass/seller.scss */
#sellerInfoContainer.showInfo {
  display: block;
  width: 193px;
  background-color: whitesmoke;
  height: 100vh;
  position: absolute;
  left: 52px;
  top: 0px;
  height: 100%;
  z-index: 3;
}

/* line 77, ../sass/seller.scss */
#sellerInfoContainer .sellerImg {
  width: 115px;
  margin: 40px 0;
  border: 6px solid #9880e4;
}

/* line 82, ../sass/seller.scss */
#sellerInfoContainer i {
  color: #657079;
}

/* line 85, ../sass/seller.scss */
input[type=file] {
  position: absolute;
  z-index: -1;
  top: 10px;
  left: 8px;
  font-size: 17px;
  color: #b8b8b8;
}

/* line 93, ../sass/seller.scss */
.button-wrap {
  position: relative;
}

/* line 96, ../sass/seller.scss */
.uploadButton {
  display: inline-block;
  padding: 12px 18px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #bf4289;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

/* line 106, ../sass/seller.scss */
.controls {
  width: 80%;
  margin-left: 5rem;
}

/* line 110, ../sass/seller.scss */
.vh-100 {
  height: 100vh;
}

/* line 114, ../sass/seller.scss */
.swal2-actions {
  gap: 10px;
}

/* line 117, ../sass/seller.scss */
.table > tbody {
  vertical-align: baseline !important;
}

/* line 120, ../sass/seller.scss */
.chart-parent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px auto;
}

/* line 127, ../sass/seller.scss */
.myChart {
  width: 450px !important;
  height: 75vh !important;
}

/* line 131, ../sass/seller.scss */
#productTable, #OrdersTable {
  display: none;
}

/* line 135, ../sass/seller.scss */
.typeOf {
  color: #bf4289;
}

/* line 140, ../sass/seller.scss */
.state span {
  display: inline-flex;
  background-color: transparent;
  border: 2px solid #c78dd1db;
  padding: 10px;
  border-radius: 5px 10px;
  transition: .5s;
}

/* line 149, ../sass/seller.scss */
.state span:hover {
  background-color: #c78dd1db;
  color: whitesmoke;
}

/* line 154, ../sass/seller.scss */
.state span.approved {
  background-color: #088a31bf;
  border: 2px solid #95e98cdb;
  color: whitesmoke;
}
